.DS_Store
homework/.ipynb_checkpoints/
.ipynb_checkpoints/
lessons/Lesson06_Web_Scraping_and_APIs/chromedriver/
readme_temp.txt
final-projects/test-jpg/
final-projects/train-jpg/
final-projects/train-tif-v2/
final-projects/sample_submission.csv
